<span class="heading"><span class="tic">TIC </span><span>TAC </span><span class="toe">TOE</span></span>

<div class="grid-container">
    <div class="grid-item" [ngClass]="{'x-winner': player== 'X' && !winner}">X</div>
    <div class="grid-item" [ngClass]="{'o-winner': player== 'O' && !winner}">O</div>
  </div>
<div class="winner-block" [ngClass]="{'x-winner': winner == 'X', 'o-winner': winner=='O'}" *ngIf="winner">
   <h1>WINNER</h1>
   <span class="winner-span">{{winner}}</span>  
</div>


<main *ngIf="!winner">
    <app-block
        *ngFor="let val of blocks; let i = index" 
        [value]="val" [winner]="winner" 
        (click)="move(i)"> 
    </app-block>
</main>

<div class="new-game" (click)="newGame()">RESTART GAME</div>

