main {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-gap: 5px;
    padding: 20px;
    border-radius: 10px;
    width: 310px;
    background-color: #6548C2;
    margin: 30px auto;
}
  
.grid-container {
    display: grid;
    grid-column-gap: 50px;
    grid-template-columns: auto auto;
      background: #332167;
    padding: 10px;
      border-radius: 10px;
    width: 330px;
    margin: 30px auto 0;
  }
  
  .grid-item {
    background-color:#6548C2;
    padding: 20px;
    border-radius: 10px;
    font-size: 30px;
    text-align: center;
  }
.winner-block{
    height: 310px;
    width: 310px;
    padding: 20px;
    border-radius: 10px;
    margin: 30px auto;
    justify-content: center; 
    background-color: #6548C2;
}

.new-game{
    border-radius: 10px;
    background-color: #6548C2;
    padding: 20px;
    margin: auto;
    width: 310px;
    cursor: pointer;
}

.x-winner{
    background-color: #EB1751;
}

.o-winner{
    background-color: #FFD032;
}

.winner-span{
    font-size: 180px;
    font-weight: 600;
}

.draw-span{
    position: relative;
    top: 105px;
    font-size: 90px;
    font-weight: 600;
}

.heading{
    font-size:58px;
 }
.tic{
    color: #EB1751;
}

.toe{
    color: #FFD032;
}

app-block {
    height: 100px;
}

